<li class="comment clearfix">
	<header class="commenter">
		<figure class="pic"><%= link_to(image_tag(comment.user.profile_photo.url(:thumb)),
			user_url(comment.user.id)) %></figure>	
		<h4><%= link_to((comment.user.username),
			user_url(comment.user.id)) %></h4>
	</header>
	<div class="time">
		<time><%= time_ago_in_words(comment.created_at.to_time) %> ago</time>
	</div>
	<section class="comment-body">
		<%= comment.body %>
	</section>
</li>