<header class="profile-navbar bubble">
		<ul class="page-navbar clearfix">
			<li><a href="#">add/change profile pic</a></li>
			<li>
				<a href="#">create resolution</a>
				<%= render :partial => 'resolution_form' %>
			</li>
			<li><a href="#">edit resoultion</a></li>
			<li><a href="#">send promise</a></li>
		</ul>
	</header>