<div class="body-container">
	<%= render :partial => 'profile_navbar' %>
	<ul class="window-container-list">
	
		<li class="mini-window-container bubble">
			<h3><a href="#">My Resolutions</a></h3>
			<ul class="resolution-list">
				<% @resolutions.each do |resolution| %>	
					<%= render :partial => 'resolution', locals: {resolution: resolution}%>

				<% end %>
			</ul>
		</li>
	
	</ul>
</div>

<script>
	$('#new_resolution').on("ajax:success", function(event,data){
		$('.resolution-list').prepend(data);
	});
</script>