</div>
<div class="body-container">
	<%= render :partial => 'profile_navbar' %>
	<%= render :partial => 'shared/window_container', locals: {window_type: "My Resolutions"} %>
</div>

<script>

	$('#new_resolution').on("ajax:success", function(event,data){
		$('.resolution-list').prepend(data);
		$('#resolution_title').val('');
		$('#resolution_body').val('');
		$('.resolution_form').hide();
	});

</script>