<div class="header cut-out">
		<section class="resolution">
			<div class="title clearfix">
				<h4><a href="#"><%= resolution.title %></a></h4>
				<ul class="info clearfix">
					<li><a href="#"><%= resolution.created_at %></a></li>
					<li><a href="#"><%= resolution.updated_at %></a></li>
				</ul>
			</div>
			<div class="statement">
				<p><%= resolution.body %></p>
			</div>
		</section>
	</div>