<div class="mini-footer clearfix">
	<ul class="links clearfix">
		<li class="show-comment">
			<a href="#"> 
				<span class="comments-count"><%= resolution.comments.count %></span> comments 
			</a>
		</li>
		<li><a href="#">10 updates</a></li>
		<li><a href="#"> -5 likes </a></li>
		<li><a href="#">like</a></li>
	</ul>
	<div class="comment">
	<%= render :partial => 'shared/comment_form', locals: {resolution: resolution} %>
	</div>
</div>
