<div class="mini-footer clearfix">
		<ul class="links clearfix">
			<li><a href="#"> 113 comments </a></li>
			<li><a href="#"> -5 likes </a></li>
			<li><a href="#"> 0 dislikes </a></li>
			<li><a href="#">like</a></li>
			<li><a href="#">dislike</a></li>
		</ul>
	</div>