
<ul class="window-container-list">

	<div class="mini-window-header-content bubble glow">
		<h3><a href="#"><%= window_type %></a></h3>
		<li class="mini-window-container">
			<div class="mini-window-scroll-container">
				<div class="scroll-content">
					<% if @resolutions %>
						<ul class="resolution-list">
							<%= render @resolutions %>
						</ul>
						<figure class="loader-container"><%= image_tag "ajax-loader.gif", class: 'loader'%></figure>
					<% elsif @resolution %>
						<ul class="resolution-list">
							<li>
								<%= render @resolution %>
								<!-- resolution comments -->
							</li>
							<!-- resolution updates nested comments-->
						</ul>
					<% end %>
				</div>
			</div>
		</li>
	</div>

</ul>
