
<ul class="window-container-list">
	<div class="mini-window-header-content glow">
		<h3><a href="#"><%= window_type %></a></h3>
		<li class="mini-window-container">
			<div class="mini-window-scroll-container">
				<div class="scroll-content">
					<% if @resolutions %>
						<ul class="resolution-list">
							<%= render @resolutions %>
						</ul>
						<figure class="loader-container"><%= image_tag "ajax-loader.gif", class: 'loader'%></figure>
					<% elsif @resolution %>
						<ul class="resolution-list">
							<li>
								<%= render @resolution %>
							</li>
						</ul>
					<% end %>
				</div>
			</div>
		</li>
	</div>
</ul>

<script>
	$('.resolution-list').on('keydown', 'textarea' ,function(event) {
		if (event.keyCode == 13) {
			event.preventDefault();
			$(this).closest('form').find('input[type="submit"]').click();
		}
	});
	
	$('.resolution-list').on("ajax:success", '.new_comment', function(event, data){
		$(this).find('#comment_body').val('');
		var commentCount = $(this).first().parent().parent().find('.comments-count');
		commentCount.text(parseInt(commentCount.text())+1);
		$(this).parent().parent().siblings(".comments").append(data);
	});
	
	$('.resolution-list').on('ajax:success','.new_update',function(event, data, status, xhr) {
		$(this).find('#update_body').val('');
		var updatesCount = $(this).closest('.mini-footer').find(".updates-count");
		updatesCount.text(parseInt(updatesCount.text())+1);
		$(this).parent().slideUp();
		var appendee = xhr.responseText;
		$(this).closest('.mini-window').next(".updates").append(appendee);
		$(this).closest('.mini-window').next(".updates").find( "li:last-child").find('.resolution').resizable(
		{	maxWidth: 330,
			minWidth: 330,
			maxHeight: 480,
			minHeight: 20
		});

	});
	
</script>