<li class="mini-window">
	<%= render :partial => 'shared/friend_profile', locals: {resolution: resolution} %>
	<%= render :partial => 'shared/resolution_header', locals: {resolution: resolution} %>
	<%= render :partial => 'shared/resolution_info_footer', locals: {resolution: resolution} %>
	<ul class='comments'>
	<%= render resolution.comments %>
	</ul>
</li>