<!-- <%= image_tag current_user.profile_photo.url(:big) %>
<%= image_tag current_user.profile_photo.url(:small) %>
<%= image_tag current_user.profile_photo.url %> -->
</div>
<div class="body-container">
	<%= render :partial => 'shared/window_container', locals: {window_type: 'Global Resolutions'} %>
</div>