/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#new_user {
	border-radius:10px;
	width:300px;
	margin:auto;
	text-align:center;
	padding:20px 0;
	overflow:hidden;
	color:white;
}

.sign-button > input {
	width:100px;
	background-color:blue;
	color:white;
	font-size:20px;
	border-radius:10px;
}

.signup-links {
	margin:auto;
	width:290px;
}

.comments > li {
	width:;
}

.commenter {
	float:left;
}

.commenter > figure {
	float:left;
}

.commenter > h4 {
	float:left;
	padding-right:10px;
}

.comment-body {
	float:left;
}

.cut-out {
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(0,0,0,.6), inset 0 1px 0 rgba(0,0,0,.6);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(0,0,0,.6), inset 0 1px 0 rgba(0,0,0,.6);
	box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(0,0,0,.6), inset 0 1px 0 rgba(0,0,0,.6);

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.glow {
	-webkit-box-shadow: 0 0 20px rgba(255,255,255,.2), inset 0 0 20px rgba(255,255,255,.5);
	-moz-box-shadow: 0 0 20px rgba(255,255,255,.2), inset 0 0 20px rgba(255,255,255,.5);
	box-shadow: 0 0 20px rgba(255,255,255,.2), inset 0 0 20px rgba(255,255,255,.5);

	-webkit-border-radius: 60em;
	-moz-border-radius: 60em;
	border-radius: 60em;
}

html, head, body, header, div, li, a, aside, table, tr, td, figure, img, h4, p, h3, strong{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
	height:100%;
	width:100%;
}

body {
	font-family: sans-serif;
	height:100%;
	width:100%;
	position:absolute;
}

.clearfix:after {
	clear:both;
	display:table;
	content:"";
}

ul {
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type:none;
}

a {
	text-decoration: none;
	color: black;
}

html {
	font-family: arial,sans-serif;
	font-size:small;
}

strong {
	font-weight:bold;
}

textarea {
	resize:none;
}

time {
	font-size:10px;
	color:lightgray;
}

.badge {
	font-size:10px;
	padding:2px 5px;
	background:rgba(255,255,255,.2);
	border-radius:10px;
}

/* comment form */

/* SideBar */

.left {
	height:100%;
	width:200px;
}

.navbar-left {
	position:fixed;
	bottom:50%;
	margin-bottom:-95px;
	padding-left:20px;
	z-index:100;
}

.navbar-left > .menu > li {
	margin: 5px 0;
	padding: 10px 0;
}

.navbar-left > .menu > li > a {
	padding: 10px 14px;
	background-image:url('button4.png');
	background-size: 36px 34px;
	background-repeat:no-repeat;
	color:white;
}

.navbar-left > .menu > li > a:hover {
	padding: 10px 14px;
	background-image:url('button5.png');
	background-size: 40px 34px;
	background-repeat:no-repeat;
	color:white;
}

.navbar-left > .menu > li > a:hover {
	
}

.navbar-left > .menu > li > .search-left {
	display: none;
	margin:-2px 0;
	padding:0;
}

.navbar-left > .menu > li > a.clicked {
	padding: 10px 14px;
	background-image:url('button1.png');
	background-size: 36px 34px;
	background-repeat:no-repeat;
	color:white;
}

/* Content */

.content {
	width: 950px;
	margin:auto;
	padding:0 20px;
	min-height:600px;
	height:100%;
	clear:none;
	}
	
/* Footer */
	
footer {
	position:relative;
	z-index:100;
	width:100%;
	margin-top:-33px;
}

footer > .footer-bar {
	border-top:1px solid black;
	padding:10px;
	width:950px;
	margin:auto;
	color:#10BA8F;
	font-size:10px;
	background: rgb(255,255,255); /* Old browsers */

	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(201,234,224,1) 49%, rgba(255,255,255,1) 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(49%,rgba(201,234,224,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(201,234,224,1) 49%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(201,234,224,1) 49%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(201,234,224,1) 49%,rgba(255,255,255,1) 100%); /* IE10+ */

	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(201,234,224,1) 49%,rgba(255,255,255,1) 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	
}

/* profile */


.profile-container {
	width:19%;
	float:left;
	padding-top:60px;
}

.profile {
	float: left;
	width: 100%;
	border-radius: 10px;
	margin-bottom: 20px;
	
}

.profile > figure {
	float:left;
	padding:20px;
	padding-right:10px;
}

.profile > .user-info {
	margin: 20px;
	margin-left:0;
	margin-bottom:0;
	color:black;
}

/* friend feed right */

.feed-right {
	padding-top:60px;
	width:20%;
	height-max:480px;
	float:right;
	border-radius:10px;
}

.feed-right-scroll-container {
	overflow:scroll;
	height:100%;
	width:100%;
}

.feed-right-scroll-container > ul {
	margin:20px;
}

.feed-right-scroll-container > ul > li > figure {
	float:left;
	width:25px;
}

.feed-right-scroll-container > ul > li > h4 > a{
	float:left;
	color:black;
	padding-left:10px;
}

.feed-right-scroll-container > ul > li > header {
	color:black;
	border-bottom:1px solid lightgray;
	background-color:rgba(255,255,255,.75);
	float:left;
	width:150px;
	margin-bottom:10px;
}

.feed-right-scroll-container > ul > li > header >.news {
	padding:5px;
}

/* middle container body */

.body-container {
	padding-top:60px;
	float:left;
	width:538px;
	margin-left:21px;
}

.mini-window-header-content {
	width:100%;
	border-radius:10px;
}

.mini-window-container {
	margin-bottom:25px;
	overflow:hidden;
	height:480px;
	border-bottom:1px solid lightgray;
}

.mini-window > .comments {
	float:right;
	width:360px;
	padding-bottom:10px;
	display:none;
}

.resolution > .statement {
	height:56px;
}

.mini-window-scroll-container {
	height:100%;
	width:100%;
	overflow:auto;
}

.mini-window-header-content > h3 {
	width:518px;
	padding:10px;
	font-weight:bold;
}

.mini-window-header-content > h3 > a {
	color:black;
}

.feed-right-scroll-container > ul > h3 {
	font-weight:bold;
	color:black;
	margin-bottom:10px;
	padding-bottom:5px;
	border-bottom:1px solid lightgray;
}

.scroll-content > .resolution-list {
	margin:auto;
}

.loader-container{
	display:none;
	text-align:center;
}

.scroll-content > .resolution-list > .mini-window {
	margin: 0px 10px;
	margin-bottom: 5px;
	width:501px;
	border-bottom:1px solid lightgray;
}

.scroll-content > .resolution-list > .mini-window > .header {
	height:100%;
	margin-left:91px;
	width:410px;
	overflow:scroll;
	background-color:rgba(255,255,255,.75);
	border-bottom:1px solid lightgray;
}

.scroll-content > .resolution-list > .mini-window > .friends-profile {
	width: 70px;
	float:left;
}

.scroll-content > .resolution-list > .mini-window > .friends-profile > .pic {
	margin: 10px;
}

.scroll-content > .resolution-list > .mini-window > .friends-profile > .friendname {
	margin-top:-10px;
	text-align:center;
}

.scroll-content > .resolution-list > .mini-window > .friends-profile > .friendname > a{
	color:#10BA8F;
}

.scroll-content > .resolution-list > .mini-window > .header > .resolution {
	float:right;
	width:400px;
	padding:10px;
	padding-left:none;
}

.scroll-content > .resolution-list > .mini-window > .header > .resolution > .title > h4 {
	float:left;
	font-size: 13px;
}

.resolution > .title > h4 > a {
	color:#10BA8F;
}

.scroll-content > .resolution-list > .mini-window > .header > .resolution > .title > .info {
	float:right;
	font-size:10px;
}
.scroll-content > .resolution-list > .mini-window > .header > .resolution > .title > .info > li {
	float:left;
	margin-right: 4px ;
}

.info > li > a {
	color:lightgray;
}

.scroll-content > .resolution-list > .mini-window > .header > .resolution > .statement {
	padding-top:5px;
}

.scroll-content > .resolution-list > .mini-window > .mini-footer {
	padding-top:5px;
	width:100%;
}

.scroll-content > .resolution-list > .mini-window > .mini-footer > .comment > .new_comment {
	float:right;
	width:315px;
	padding-bottom:10px;
}

.scroll-content > .resolution-list > .mini-window > .mini-footer > .links {
	float:right;
}

.scroll-content > .resolution-list > .mini-window > .mini-footer > .links > li {
	float:left;
	margin-right: 4px;
}

.scroll-content > .resolution-list > .mini-window > .mini-footer > .links > li > a {
	color:black;
}

/* Navigation Bar */

.nav {
	z-index:100;
	position:fixed;
	width:100%;
	background: rgb(255,255,255); /* Old browsers */

	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(201,234,224,1) 49%, rgba(255,255,255,1) 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(49%,rgba(201,234,224,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(201,234,224,1) 49%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(201,234,224,1) 49%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(201,234,224,1) 49%,rgba(255,255,255,1) 100%); /* IE10+ */

	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(201,234,224,1) 49%,rgba(255,255,255,1) 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

	}

.friended {
	display:none;
}

.navbar {
	width: 1000px;
	margin:auto;
	border-bottom:2px solid black;
}

.navbar > .left-menu {
	float:left;
}

.navbar > .left-menu > li {
	float:left;
	padding: 10px 0;
}

.navbar > .left-menu > li > .nav-dropdown{
	margin-top:11px;
	position:absolute;
	color:black;
}

.navbar > .left-menu > li > .notifications-list {
	width:200px;
	display:none;
}

.navbar > .left-menu > li > .requests-list {
	display:none;
	background-color: rgba(207,249,234,.9);
}

/*.navbar > .left-menu > li:hover > .nav-dropdown{
	display:block;
}*/

.navbar > .left-menu > li > .nav-dropdown > li > .name {
	padding:10px;
	float:left;
}

.navbar > .left-menu > li > .nav-dropdown > li > .message {
	padding:10px;
	background-color: rgba(207,249,234,.9);
}

.navbar > .left-menu > li > .nav-dropdown > li > .message > a{
	color:black;
}

.navbar > .left-menu > li > .nav-dropdown > li > form {
	float:left;
	padding:5px;
}

.navbar > .left-menu > li > a {
	padding: 10px;
	color:black;
}

.navbar > ul > li:hover > a {
	color: lightgray;
}

.navbar > .search-bar {
	float:right;
	padding: 5px;
}

.navbar > .right-menu {
	float:right;
}

.navbar > .right-menu > li {
	float: left;
	padding: 10px 0;
}

.navbar > .right-menu > li > a{
	z-index:100;
	color:black;
	padding: 10px;
}

/* profile page */

/*navbar*/

.profile-navbar {
	border-radius:10px;
	margin-bottom:20px;
}

.page-navbar {
	width: 482px;
	margin:auto;
	border-left:1px solid rgba(0,0,0,.2);
}

.page-navbar > li {
	float: left;
}

.page-navbar > li > a {
	padding:0 12px;
	display:block;
	color:#10BA8F;
	border-right:1px solid rgba(0,0,0,.2);
}

.page-navbar > li > a:hover {
	color:lightgray;
}

/*.page-navbar > li:hover > .resolution_form {
	display: block;
}*/

/* resolution form */

.resolution_form {
	display:none;
	position:absolute;
	margin-top:10px;
	background: rgb(96,108,136); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(96,108,136,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(96,108,136,1)), color-stop(100%,rgba(63,76,107,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 */
	border-radius:10px;
	z-index:100;
}

.new_resolution {
	padding:10px;
}