<div class="profile-container">
<section class="profile clearfix cut-out glow">
	<figure>
		<%= image_tag current_user.profile_photo.url(:big) %>
	</figure>
	<table class="user-info">
		<tr class="username">
			<td></td>
		</tr>
		<tr class="characteristic">
			<td></td>
			<td></td>
		</tr>
	</table>
</section>
