<section class="profile bubble clearfix">
	<figure>
		<%= image_tag current_user.profile_photo.url(:small) %>
	</figure>
	<section class="user-info">
		<table>
			<tr class="username">
				<td><%= current_user.username %></td>
			</tr>
			<tr class="characteristic">
				<td></td>
				<td></td>
			</tr>
		</table>
	</section>
</section>