<div class="profile-container">
<section class="profile clearfix cut-out glow">
	<figure>
		<%= image_tag current_user.profile_photo.url(:big) %>
	</figure>
	<section class="user-info">
		<table>
			<tr class="username">
				<td><%= current_user.username %></td>
			</tr>
			<tr class="characteristic">
				<td></td>
				<td></td>
			</tr>
		</table>
	</section>
</section>

<script>
var page = 1;
var url = "profile/?page=";
var loading = false;
function nearBottomOfPage() {
  return $(".mini-window-scroll-container").scrollTop() > 						$('.scroll-content').height() - 						$('.mini-window-scroll-container').height() - 200;
}
$('.mini-window-scroll-container').scroll(function(){
	if(nearBottomOfPage() && !loading && (page <= <%= @resolutions.total_pages %>) ) {
    loading=true;
    page += 1;
		$.ajaxSetup({
			beforeSend: function(){
				$('.loader-container').show();
			},
			complete:function(){
				$('.loader-container').hide();
			}
		});
    $.ajax({url: url + page}).done(
			function(data) {
				loading=false
				$('.resolution-list').append(data)
			}
		) 
  }
});
</script>