<aside class="feed-right bubble glow">
	<ul>
		<h3>Friend Activity</h3>
		<% current_user.feed.each do |activity| %>
			<li>
				<figure><%= image_tag(activity[:picture]) %></figure>
				<h4><%= activity[:username] %></h4>
				<header class="cut-out">
					<div class="news"><%= "made a new #{activity[:type]} '#{activity[:title]}'" %></div>
				</header>
			</li>
		<% end %>
	</ul>
</aside>
