<aside class="feed-right bubble" style="overflow:scroll;">
			<ul>
				<li><a href="#">friends activity1</a></li>
				<li><a href="#">friends activity2</a></li>
				<li><a href="#">friends activity3</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
				<li><a href="#">friends activity4</a></li>
			</ul>
		</aside>